<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATIo0nm8WK_-H7-J8hscmvRHWRZwSsYic</string>
	<key>GCM_SENDER_ID</key>
	<string>1068008329021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demohb.hbDemo</string>
	<key>PROJECT_ID</key>
	<string>hb-demo-168ee</string>
	<key>STORAGE_BUCKET</key>
	<string>hb-demo-168ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068008329021:ios:7f1ea739bf5c58fbb0ff54</string>
</dict>
</plist>